<h1>Users#signup_show</h1>
<p>Find me in app/views/users/signup_show.html.erb</p>

<% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
      </tr>
<% end %>
